Django==5.2.7

asgiref==3.8.1
sqlparse==0.5.3
tzdata==2025.1

Pillow==11.0.0
whitenoise==6.8.2

gunicorn==23.0.0

pip==24.3.1
setuptools==75.1.0
wheel==0.44.0

python-dotenv==1.0.1

django-debug-toolbar==4.3.0
