asgiref==3.8.1
Django==5.2.7
django-debug-toolbar==4.3.0
djangorestframework==3.16.1
gunicorn==23.0.0
packaging==25.0
pillow==11.0.0
python-dotenv==1.0.1
setuptools==75.1.0
sqlparse==0.5.3
tzdata==2025.1
wheel==0.44.0
whitenoise==6.8.2